@import "./font.css";
/* ////////////// */
@tailwind components;
@tailwind utilities;
@tailwind base;
/* //////////////// */
@layer base {
  body {
    font-size: 14px;
  }
  * {
    user-select: none; /* Non-prefixed version, currently*/
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -khtml-user-select: none; /* Konqueror HTML */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -webkit-user-drag: none;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#1D5B79];
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-track-piece {
    @apply bg-transparent;
  }
}
@layer components {
  .button {
    @apply flex justify-center items-center hover:opacity-80 rounded-[3px] w-[70px] h-[30px] font-[dana] hover:shadow-md transition-all duration-300;
  }
  .input {
    @apply min-w-[300px] w-full flex justify-center items-center text-[#656565] rounded-[5px] caret-blue-600 h-[40px] px-[18px] bg-[#DEDEDE] font-[kalameh] outline-none;
  }
  .btn-loader {
    width: 30px;
    height: 30px;
    border: 3px dotted #fff;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .btn-loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #ff3d00;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  .parent-console-loader {
    @apply absolute inset-0 flex justify-center bg-[#1d5a7959] backdrop-blur-[1.5px] rounded-md items-center w-full h-full;
  }
  .console-loader {
    width: 220px;
    height: 25px;
    border-radius: 20px;
    color: #1d5b79;
    border: 2px solid;
    position: relative;
  }
  .console-loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
  }
  @keyframes l6 {
    100% {
      inset: 0;
    }
  }
  .money-loader {
    display: block;
    position: relative;
    height: 20px;
    width: 140px;
    background-image: linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0);
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 0 0, 40px 0, 80px 0, 120px 0;
    animation: pgfill 1s linear infinite;
  }
  @keyframes pgfill {
    0% {
      background-image: linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0);
    }
    25% {
      background-image: linear-gradient(#ff3d00 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0);
    }
    50% {
      background-image: linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#ff3d00 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0);
    }
    75% {
      background-image: linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#ff3d00 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0);
    }
    100% {
      background-image: linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#ff3d00 20px, transparent 0);
    }
  }
  .active-color {
    background: rgba(29, 91, 121, 0.1);
  }
  .disable-color {
    background: rgba(222, 222, 222, 0.5);
  }
}
