@import "./font.css";
/* ////////////// */
@tailwind components;
@tailwind utilities;
@tailwind base;
/* //////////////// */
@layer base {
  body {
    font-size: 14px;
  }
  * {
    user-select: none; /* Non-prefixed version, currently*/
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -khtml-user-select: none; /* Konqueror HTML */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -webkit-user-drag: none;
    scroll-behavior: smooth;
  }
}
@layer components {
  .button {
    @apply flex justify-center items-center text-white rounded-[3px] px-[1.5rem] py-[0.45rem] font-[dana] hover:shadow-md transition-all duration-300;
  }
  
}
