@font-face {
  font-family: "BYekan";
  src: url("../assets/fonts/BYekan-webfont.eot") format("eot"),
    url("../assets/fonts/BYekan-webfont.woff") format("woff"),
    url("../assets/fonts/BYekan-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* //////////// */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* /////////////// */
@layer base {
  * {
    user-select: none; /* Non-prefixed version, currently*/
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -khtml-user-select: none; /* Konqueror HTML */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    scrollbar-width: none !important;
    font-family: "BYekan";
  }
  ::-webkit-scrollbar {
    width: 0px !important;
  }
  html {
    direction: rtl !important;
  }
}
/* /////////////// */
@layer components {
  .ParentLogin {
    @apply w-full flex justify-center items-center;
    background-image: url(../assets/image/BgLogin.jpg);
    background-size: cover;
    height: 100vh;
  }
  .login {
    @apply flex flex-col justify-center shadow-xl rounded-md items-center p-4;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.13);
  }
  .Logo {
    width: 100px;
    height: 100px;
  }
  .LoginInput {
    @apply outline-none mt-5 bg-[#2726299c]  shadow-2xl text-center border-[#1716187c] text-white  rounded-lg;
    width: 250px;
    height: 50px;
  }
  .loginBtn {
    @apply flex justify-center  hover:opacity-70 items-center p-3 mt-4 bg-blue-700  opacity-100 duration-500 transition-all rounded-md text-white;
    width: 100px;
  }
  /* //////////////////////////// */
  .ParentRegister {
    @apply w-full flex overflow-y-scroll justify-start items-start;
    background-image: url(../assets/image/BgRegister.jpg);
    background-size: cover;
    padding-right: 15vw;
    height: 100vh;
  }
  .Register {
    @apply flex flex-col justify-center rounded-md items-center p-4;
    width: 550px;
  }
  .ParentInputRegister {
    @apply flex w-full flex-wrap justify-evenly items-center;
  }
  .RegisterBtn {
    @apply flex justify-center  hover:opacity-70 items-center p-3 mt-4 bg-blue-700  opacity-100 duration-500 transition-all rounded-md text-white;
    width: 100px;
  }
  .RegisterInput {
    @apply outline-none mt-5 bg-white shadow-2xl text-center text-black rounded-sm;
    width: 250px;
    height: 50px;
  }
  .ErrorMessage {
    @apply mt-2 flex items-center justify-center bg-red-700 opacity-80 border-red-800 border-2 px-7 p-2 rounded-sm text-white;
  }
  @media only screen and (max-width: 750px) {
    .ParentLogin {
      @apply w-full flex justify-center items-start pt-4;
      background-image: url(../assets/image/BgLoginMobile.jpg);
      background-size: cover;
      overflow: hidden;
    }
    .login {
      @apply bg-transparent;
    }
    .ParentRegister {
      @apply w-full p-0 flex justify-center  items-start;
      background-image: url(../assets/image/BgRegisterMobile.jpg);
      background-size: cover;
      height: 100vh;
    }
    .ParentInputRegister {
      @apply flex-col;
    }
  }
  .ParentHome {
    @apply flex flex-col overflow-y-scroll justify-start items-center bg-[#f6f6f6];
    height: 100vh;
  }
  .ParentHeader {
    @apply flex justify-center items-center w-full  p-2;
  }
  .ParentMain {
    @apply flex justify-between items-center flex-wrap w-full p-2;
    height: calc(100vh - 132px);
  }
  .ConsolePs4 {
    @apply flex relative flex-col justify-between mb-3 p-3 pt-8 items-center bg-white shadow-md rounded-md;
    width: 300px;
    height: 200px;
  }
  .NumberPs4 {
    @apply p-2 text-xl shadow-xl text-white px-4 rounded-full bg-blue-500 absolute;
    top: -20px;
  }
  .TimerPs4 {
    @apply text-3xl;
  }
  .InputMoneyPs4 {
    @apply rounded-md shadow-md text-black text-center border-black border-2;
    width: 200px;
    height: 30px;
  }
  .MoneyPs4 {
    @apply text-3xl;
  }
  .BtnPs4 {
    @apply p-2 px-5 rounded-md shadow-md text-white;
  }
}
