@font-face {
  font-family: "BYekan";
  src: url("../assets/fonts/BYekan-webfont.eot") format("eot"),
    url("../assets/fonts/BYekan-webfont.woff") format("woff"),
    url("../assets/fonts/BYekan-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* //////////// */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* /////////////// */
@layer base {
  * {
    user-select: none; /* Non-prefixed version, currently*/
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -khtml-user-select: none; /* Konqueror HTML */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    scrollbar-width: none;
    font-family: "BYekan";
  }
  html {
    direction: rtl !important;
  }
}
/* /////////////// */
@layer components {
  .ParentLogin {
    @apply w-full flex justify-center items-center;
    background-image: url(../assets/image/BgLogin.jpg);
    background-size: cover;
    height: 100vh;
  }
  .login {
    @apply flex flex-col justify-center shadow-xl rounded-md items-center p-4;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.13);
  }
  .LoginLogo {
    width: 100px;
    height: 100px;
  }
  .LoginInput {
    @apply outline-none mt-5 bg-[#2726299c]  shadow-2xl text-center border-[#1716187c] text-white  rounded-lg;
    width: 250px;
    height: 50px;
  }
  .loginBtn {
    @apply flex justify-center  hover:opacity-100 items-center p-3 mt-4 bg-red-700 opacity-90 duration-500 transition-all rounded-md text-white;
    width: 100px;
  }
  @media only screen and (max-width: 600px) {
    .ParentLogin {
      @apply w-full flex justify-center items-start pt-4;
      background-image: url(../assets/image/BgLoginMobile.jpg);
      background-size: cover;
      overflow: hidden;
    }
    .login {
      @apply bg-transparent;
    }
  }
}
